:root {
  --color-bg: #ffe4e1; /* Light pink */
  --color-text-main: #001f4d; /* Dark blue */
  --color-text-header: #001f4d;
  --color-primary: #ffccdd;
}

/* Body background and text color */
body {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

/* Header titles */
.title {
  color: var(--color-text-header);
}

/* Subheading */
h2 {
  color: var(--color-text-header);
}

/* Links and footer */
.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  color: var(--color-text-main);
}
